body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: url("../images/concrete-texture2.png");
  }

  h1 {
    color: #4aaaa5;
  }


#contact-container {
    padding-top: 100px;
    padding-left: 30px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}


.main-section {
    width: 650px;
    width: 100%;
    padding: 30px;
    margin: 0 0 40px;
    border: 1px solid #ddd;
    float: left;
    margin-top: 115px;
    background: #fff;
}
  

#main-container {
    padding-top: 130px;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

#header-container {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    /* color: #fff; */
    background: #fff;
    border-bottom: 2px solid #ccc;
    height: 90px;
  }
  

.header-name {
    background-color: #4aaaa5;
    float: left;
    color: white;
    padding: 20px 30px 20px 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    clear: both;
    margin-top: 9px;
    font-size: 30px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 75px;
  }
  

  nav {
      float: right;
      margin-top: 25px;
  }

  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  .sidebar {
    text-align:center;
      float: right;
      width: 100%;
      width: 270px;
      padding: 30px;
      margin-bottom: 20px;
      background: #fff;
      border: 1px solid #dddddd;
      margin-top: 115px;
  }

  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }

  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }

  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  
#sidebar-contact {
    margin-right: 160px;
}  