#header-name {
    font-size: 30px;
    font-weight: bold;
}

#contact-container {
    padding-left: 30px;
}

.container {
    width: 100%;
    max-width: 960px;
}

.main-section {
    max-width: 650px;
    border: 1px solid #20B2AA;
    float: left;
}

#main-container {
    padding-top: 130px;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

